          <!-- begin:article -->
          <div class="col-md-9 col-md-push-3">
            <!-- begin:sorting -->
            <div class="row sort">
              <div class="col-md-4 col-sm-4 col-xs-3">
                <a href="category.html" class="btn btn-success"><i class="fa fa-th"></i></a>
                <a href="category_list.html" class="btn btn-default"><i class="fa fa-list"></i></a>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-9">
                <form class="form-inline" role="form">
                  <span>Sort by : </span>
                  <div class="form-group">
                    <label class="sr-only" for="sortby">Sort by : </label>
                    <select class="form-control">
                      <option>Most Recent</option>
                      <option>Price (Low &gt; High)</option>
                      <option>Price (High &gt; Low)</option>
                      <option>Most Popular (Low &gt; High)</option>
                    </select>
                  </div>
                  <span>Show : </span>
                  <div class="form-group">
                    <label class="sr-only" for="show">Show : </label>
                    <select class="form-control">
                      <option>6</option>
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                      <option>25</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
            <!-- end:sorting -->

            <!-- begin:product -->
            <div class="row container-realestate">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img02.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Offices</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">Office</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img03.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Villa</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">Awesome Villa</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img04.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Residential</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">Land In Central Park</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img05.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Residential</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">Luxury Villa</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img06.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Residential</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img04.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Residential</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">Land In Central Park</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img02.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Residential</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">Semi Detached house</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img06.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Residential</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">The Urban Life</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="property-container">
                  <div class="property-image">
                    <img src="img/img02.jpg" alt="mikha real estate theme">
                    <div class="property-price">
                      <h4>Offices</h4>
                      <span>$800,000</span>
                    </div>
                    <div class="property-status">
                      <span>For Sale</span>
                    </div>
                  </div>
                  <div class="property-features">
                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
                    <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
                    <span><i class="fa fa-male"></i> 2 Bath</span>
                  </div>
                  <div class="property-content">
                    <h3><a href="#">Office</a> <small>22, JJ Road, Yogyakarta</small></h3>
                  </div>
                </div>
              </div>
              <!-- break -->
            </div>
            <!-- end:product -->

            <!-- begin:pagination -->
            <div class="row">
              <div class="col-md-12">
                <ul class="pagination">
                  <li class="disabled"><a href="#">&laquo;</a></li>
                  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- end:pagination -->
          </div>
          <!-- end:article -->

          <!-- begin:sidebar -->
          <div class="col-md-3 col-md-pull-9 sidebar">
            <div class="widget widget-white">
              <div class="widget-header">
                <h3>Advance Search</h3>
              </div>    
              <form role="form" class="advance-search">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-success">
                    <input type="radio" name="options" id="option1"> For Rent
                  </label>
                  <label class="btn btn-success">
                    <input type="radio" name="options" id="option2"> For Sale
                  </label>
                </div>
                <div class="form-group">
                  <label for="location">Location</label>
                  <select class="form-control">
                    <option>Miami</option>
                    <option>Doral</option>
                    <option>Little Havana</option>
                    <option>Perrine</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="type">Property Type</label>
                  <select class="form-control">
                    <option>Office</option>
                    <option>Shop</option>
                    <option>Villa</option>
                    <option>Apartment</option>
                    <option>Single Family Home</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="beds">Beds</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="baths">Baths</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="min-price">Min Price</label>
                  <select class="form-control">
                    <option>$1,000</option>
                    <option>$5,000</option>
                    <option>$10,000</option>
                    <option>$20,000</option>
                    <option>$50,000</option>
                    <option>$350,000</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="max-price">Max Price</label>
                  <select class="form-control">
                    <option>$9,000</option>
                    <option>$19,000</option>
                    <option>$40,000</option>
                    <option>$100,000</option>
                    <option>$800,000</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="min-area">Min Area</label>
                  <input type="text" class="form-control" placeholder="Min Area">
                </div>
                <div class="form-group">
                  <label for="max-area">Max Area</label>
                  <input type="text" class="form-control" placeholder="Max Area">
                </div>
                <input type="submit" name="submit" value="Search" class="btn btn-success btn-block">
              </form>
            </div>
            <!-- break -->
            <div class="widget widget-sidebar widget-white">
              <div class="widget-header">
                <h3>Property Type</h3>
              </div>    
              <ul class="list-check">
                <li><a href="#">Office</a>&nbsp;(18)</li>
                <li><a href="#">Office</a>&nbsp;(43)</li>
                <li><a href="#">Shop</a>&nbsp;(31)</li>
                <li><a href="#">Villa</a>&nbsp;(52)</li>
                <li><a href="#">Apartment</a>&nbsp;(8)</li>
                <li><a href="#">Single Family Home</a>&nbsp;(11)</li>
              </ul>
            </div>
            <!-- break -->
          </div>
          <!-- end:sidebar -->
          